################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mambo-MSVC2017/v15/ipch/AutoPCH
/.vs
/Debug
