################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mambo-MSVC2017/v15/ipch/AutoPCH
/.vs
/Debug
/x64/Debug
/mambo-MSVC2017.vcxproj.user
/CppProperties.json
