sudo: required
language: cpp
compiler:
- gcc
addons:
  sources:
    - ubuntu-toolchain-r-test
  packages:
    - g++-5
    - gcc-5
notifications:
  email:
    recipients:
      - craig@nunemakerllc.com
    on_success: never
    on_failure: always
install:
  - "sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test"
  - "sudo apt-get -qq update"
  - "sudo apt-get install gcc-5 g++-5"
  - "sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-5 1 --slave /usr/bin/g++ g++ /usr/bin/g++-5"
  - "sudo apt-get -qq update"
  - export "CXX=g++-5"
  - export "CC=gcc-5"
  - "sudo apt-get install autoconf-archive"
  - "sudo apt-get install autoconf"
  - "sudo apt-get install autotools-dev"
  - "sudo apt-get install libboost-all-dev"
  - "sudo apt-get install pkg-config"
  - "sudo apt-get install libssl-dev"
  - "sudo apt-get install cmake"
  - "sudo apt-get install libblas-dev"
  - "sudo apt-get install liblapack-dev"
  - "git clone --depth=50 --branch=7.950.x https://github.com/conradsnicta/armadillo-code.git"
  - "cd armadillo-code"
  - "cmake ."
  - make
  - sudo make install
  - "git clone --depth=50 --branch=mlpack-2.2.x https://github.com/mlpack/mlpack.git"
  - "cd mlpack"
  - "cmake -D DEBUG=ON -D PROFILE=ON ."
  - make
  - sudo make install
  - cd ..
  - "wget https://github.com/nunemaker73/stlta/releases/download/v0.6.1/stlta-0.6-amd64.deb"
  - "sudo dpkg -i ./stlta-0.6-amd64.deb"
  - "sudo apt-get -f install"
  - "autoreconf --install --force"
script:
  - mkdir build
  - cd build
  - "../configure --prefix=/usr"
  - make