sudo: required
language: cpp
compiler:
- gcc
addons:
  sources:
    - ubuntu-toolchain-r-test
  packages:
    - g++-5
    - gcc-5
install:
  - "sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test"
  - "sudo apt-get -qq update"
  - "sudo apt-get install gcc-5 g++-5 autoconf-archive autoconf autotools-dev libboost1.54-dev"
  - "sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-5 1 --slave /usr/bin/g++ g++ /usr/bin/g++-5"
  - export "CXX=g++-5"
  - export "CC=gcc-5"
  - "autoreconf --install --force"
  - "gcc --version"
  - "g++ --version"
script:
  - "./configure --prefix=/usr" 
  - make
  - "make check"
  - "less ./test-suite.log"